/*global styling*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.global-button {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #16A086;
    color: white;
    padding: 15px 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive , sans-serif;
    transition: all 0.5s linear;
}
.global-button:hover {
    background-color: black;
    color: #16A086;
    border: 2px solid #16A086;
    cursor: pointer
}
.global-header-tag {
    color: #16a086;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive , sans-serif;
}

.sec-p {
    color: #ccc;
    padding: 40px 0;
    line-height: 1.7;
    font-size: 17px
    
}
.sec-span {
    color: #333;
    font-weight: bold;
    font-size: 20px
}
/*end global styling **************************************/

/*specific styling ****************************************/


/*starting of header styling *******************************/


.header-background-image {background: url('../images/HEADER.png') center bottom fixed no-repeat ;background-size: cover }

header {color: white; text-align: center; overflow: hidden}

header nav ul { list-style: none; padding: 50px 0}

header nav ul li {
    display: inline-block;
    margin: 0 70px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s linear;
}

header nav ul li:first-of-type {color: #16A086 }

header nav ul li:hover {color: #16A086}

header h1 {
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 10px;
    font-family: 'Indie Flower', cursive , sans-serif;
}

header p { padding-bottom: 50px; color: #ccc}

header .first-button {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 100px;
}

header .first-button:hover {background-color: white}

header i {
    font-size: 30px;
    margin: 0 25px;
    padding-bottom: 20px;
    color: #ddd;
    margin-top: 70px;
    cursor: pointer;
    transition: all 0.5s linear;
}

header i:first-of-type:hover {color: #4267B2}
header i:nth-of-type(2):hover{color: #DE5E53}
header i:last-of-type:hover{color: #FF0000}


/*end of header styling *************************************/

/*section one styling ***************************************/

.section-one-background-image {
    background-image: url('../images/PART2.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

section .section-one-container {width: 55%; padding: 100px 0 }
/*end section one styling *********************************/


/*section two style ***************************************/

section .section-two-container {
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
    overflow: hidden;
}


section .sec-two-content {width: 50%;padding-top: 60px }

/*end of section two style ***********************************/


/*start section three ****************************************/

.sec-three {background-color: #F5F6F8 }

section .sec-three-container {
    display: flex;
    justify-content: space-around;
    padding: 130px 75px;
    overflow: hidden;
}

section .sec-three-container .sec-three-content {text-align: center;padding: 30px 0 }

section .sec-three-container .two-images img{transition: all 0.5s linear;filter: grayscale(1) }

section .sec-three-container .two-images img:hover {filter: none;cursor: pointer }

section .sec-three-container .sec-three-content h1 {
    text-transform: uppercase;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 3;
}

section .sec-three-container .sec-three-content p {color: #ccc;font-size: 17px }

/*end of section three ***************************************/


/* subscribe section styling *********************************/

.subscribe {
    background-image: url('../images/n.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.subscribe .inputs {color: white; padding: 150px 50px}

.subscribe div:last-of-type {margin: auto 0 }

.subscribe .inputs h1 {
    text-transform: uppercase;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    padding-bottom: 20px
    
}

.subscribe .inputs input {
    padding: 7px 10px;
    width: 450px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 2px solid #16A086;
}

.subscribe .inputs textarea {
    width: 450px;
    height: 250px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 20px;
    border: 2px solid #16A086;
}

.subscribe .inputs button {padding: 5px 30px;color: black }

.subscribe .inputs button:hover {color: #16A086}


.subscribe .inputs input[type="submit"] {width: 100px;}

/*subscribe section styling ***********************************/

/*footer styling **********************************************/

footer {background-color: #F5F6F8;overflow: hidden;text-align: center }

footer .footer-content {padding: 100px 20px;width: 750px;margin: auto }

footer .footer-content h1 {color: black }

footer .footer-content button {margin: 0 10px }

footer .footer-content button i {margin-left: 10px;font-size: 25px }
/*end of footer**********************************************/

/*copyRights ***********************************************/

.copyrights {text-align: center;background-color: white;overflow: hidden }

.copyrights p {font-size: 35px;color: #16A086;padding: 50px }

.copyrights p span {border-right: 2px solid #333; padding-right: 20px }

/*end specific styling********************************/

@media (min-width: 1200px) {
    .container { width: 1200px; margin: auto; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .container { width: 900px; margin: auto; }
    
    header nav ul li{
        margin: 0 40px;
    }
    
    section .sec-three-container {
        display: block;
        padding: 50px 75px;
    }
    
    section .sec-three-container .two-images {
        display: inline-block;
    }
    
    .subscribe .inputs textarea,
    .subscribe .inputs input {
        width: 350px;
    }
    
}

@media  (max-width: 991px){
    
    .container { width: 700px; margin: auto; }
    
    header nav ul li {
        margin: 0 25px;
    }
    
    section .section-one-container {
        width: auto;
        text-align: center;
    }
    
    .sec-p {
        color: #7de0cd;
    }
    
    section .sec-three-container {
        display: block;
        padding: 50px 75px;
        text-align: center;
    }
    
    section .sec-three-container .two-images img {
        margin-bottom: 20px;
    }
    
    .subscribe {
        display: block;
    }
    
    .subscribe .inputs:first-of-type {
        padding: 150px 50px 0;
    }
    
    .copyrights p {
        font-size: 20px;
        padding: 25px;
    }
    
}

/*
@media (max-width: 767px) {
    .container { width: 700px; margin: auto; }
    
    header nav ul li {
        margin: 0 25px;
    }
    
    section .section-one-container {
        width: auto;
        text-align: center;
    }
    
    .sec-p {
        color: #7de0cd;
    }
    
    section .sec-three-container {
        display: block;
        padding: 50px 75px;
        text-align: center;
    }
    
    section .sec-three-container .two-images img {
        margin-bottom: 20px;
    }
    
    .subscribe {
        display: block;
    }
    
    .subscribe .inputs:first-of-type {
        padding: 150px 50px 0;
    }
    
    .copyrights p {
        font-size: 20px;
        padding: 25px;
    }
}*/
